body {
  margin: 0;
  padding: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.App {
}

a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

/* This file is primarily just for CSS Grid-related styles.  All other styles should be handled via styled-components. */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 375px;
    margin-top: 10px;
    grid-template-columns: 100px 175px 100px;
    grid-template-rows: 125px auto;
  }

  .bus-route-header {
    grid-template-columns: 100px 175px 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 700px;
    margin-top: 10px;
    grid-template-columns: 175px 350px 175px;
    grid-template-rows: 175px auto;
  }

  .bus-route-header {
    grid-template-columns: 175px 350px 175px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-top: 10px;
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 200px auto;
  }

  .bus-route-header {
    grid-template-columns: 200px 400px 200px;
  }

}

/* All screen sizes */

.container {
  /* width: 700px; */
  /* margin-top: 10px; */
  display: inline-grid;
  /* grid-template-columns: 175px auto 175px; */
  /* grid-template-rows: 175px auto; */
  grid-template-areas:
    "bubble header header"
    "main main main"
}

.bus-stop-detail, .bus-route-overview {
  grid-area: 1 / 1 / -1 / -1;
  padding-right: 10px;
  padding-left: 10px;
}

.bus-stop-list-container {
  grid-column: 1 / -1;
}

.bus-route-name {
  grid-area: bubble;
}

.bus-route-header {
  grid-column: 1 / -1;
  display: grid;
  /* grid-template-columns: 175px auto 175px; */
  grid-template-rows: auto;
  grid-template-areas: "bubble header header";
  place-items: center;
}

.bus-route-info {
  grid-area: header;
  justify-self: left;
}

.bus-departure-details {
  grid-area: main;
}

.search-results {
  grid-column: 1 / -1;
}

.search-input {
  grid-column: 1 / -1;
  align-self: center;
}
